@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-size: 20px;
    line-height: 1.5;
    background-color: aqua;
    font-family:font-family: "Roboto", sans-serif;
img{
    width:500px ;
}